@import "apple-swift";
@import "bootstrap";
@import "bootstrap-theme";
@import "select2";
@import "select2-bootstrap";
@import "theme";

.two-column {
  column-count: 2;
  column-fill: balance;
}

.four-column {
  column-count: 2;
  column-fill: balance;
}
